<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>bookmy show</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <style>
      .singinbtn {
        font-size: 13px;
      }

      .searchbar {
        width: 600px;
        height: 35px;
        border: 1px solid rgb(217, 216, 216);
      }

      .searchbar::placeholder {
        font-size: 15px;
        color: rgb(142, 142, 142);
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-light py-2">
      <div class="container">
        <div class="d-flex align-items-center gap-2">
          <div>
            <a class="navbar-brand" href="#">
              <img
                width="120px"
                src="https://res.cloudinary.com/admitad-gmbh/image/upload/v1666973032/ixaa8tyj24yv45cmgysl.png"
                alt=""
              />
            </a>
          </div>
          <div>
            <form class="d-flex" role="search">
              <input
                class="form-control me-2 searchbar"
                type="search"
                placeholder="Search for Movies, Events, Plays, Sports and Activities"
                aria-label="Search"
              />
            </form>
          </div>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse flex-grow-0"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav mb-2 mb-lg-0 d-flex align-items-center gap-4">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-dark"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Ahmedabad
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <button class="btn btn-danger singinbtn py-1 px-3">Sing in</button>
            <span class="navbar-toggler-icon"></span>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <section>
        <div
          id="carouselExampleInterval"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <img
                src="https://assets-in.bmscdn.com/promotions/cms/creatives/1730802537243_humareram1240x300ahmedabadnov.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img
                src="https://assets-in.bmscdn.com/promotions/cms/creatives/1726036566435_playcardnewweb.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img
                src="https://assets-in.bmscdn.com/promotions/cms/creatives/1730702092209_indiatourforweb1.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleInterval"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>

      <section class="container">
        <div class="d-flex justify-content-between mt-5">
          <h3 class="">Recommended Movies</h3>
          <a href="/insertData"
            ><button class="btn btn-dark">Add Movies</button></a
          >
        </div>

        <div class="d-flex flex-wrap gap-3 my-4">
          <% userData.map((data)=>{ %>

          <div class="card rounded-3 border-0" style="width: 19%">
            <img
              height="350px"
              src="<%= data.image %>"
              class="card-img-top mb-2 rounded-3 object-fit-contain"
              alt="..."
            />
            <h5 class="card-title"><%= data.movieName %></h5>
            <p class="card-text"><%= data.category %></p>
            <div>
              <a href="/deleteData/<%= data.id %>"
                ><button class="btn btn-danger">Delete</button></a
              >
              <a href="/editData/<%= data.id %>"
                ><button class="btn btn-success">Edit</button></a
              >
            </div>
          </div>

          <% }) %>
        </div>
      </section>
    </main>
  </body>
</html>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
  crossorigin="anonymous"
></script>
